* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 50px;
}

/*Text & Headings*/

p,
ul,
ol,
.cta-btn[type="submit"],
.cta-btn .btn-text,
textarea {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}

.small {
  font-size: 1rem;
  font-weight: bold;
}

/*Rows and Containers*/

.row {
  margin: 0 0 50px 0;
}

.container.footer .row,
figure {
  margin: 0;
}

.container.header .row .columns {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.container.body .row .columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.col-2 {
  column-count: 2;
}

.headshot {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.flag {
  margin-bottom: 1rem;
}

/*Navigation*/

.nav {
  background-color: #F5F5F5;
  padding: 30px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list .nav-item {
  display: inline;
}

.nav-list .nav-item:not(:last-child) {
  padding-right: 10px;
}

.nav-item a {
  text-transform: uppercase;
  color: #000000;
}

.nav-item a:hover {
  text-decoration: none;
}

/*CTA Button*/

.cta-btn {
  display: inline-block;
  border: solid 2px #000000;
  background-color: #ffffff;
  padding: 12px 24px;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.cta-btn .btn-text {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1px;
}

.cta-btn:hover,
.cta-btn:hover .btn-text {
  background-color: #000000;
  color: #ffffff;
}

/*Element Spacing*/

.remove-top-margin {
  margin-top: 0;
}

.remove-bottom-margin {
  margin-bottom: 0;
}

.extra-top-margin {
  margin-top: 50px;
}

/*Form Styling*/

.contact {
  display: grid;
  gap: 1rem;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 8px;
}

input,
textarea {
  border: solid 2px #000000;
  padding: 10px;
}

.message {
  grid-column: 3 / 1;
  width: 100%;
}

textarea {
  width: 100%;
}

.cta-btn[type="submit"] {
  max-width: 120px;
  font-weight: bold;
  text-decoration: underline;
}

/*Media Queries*/

@media screen and (max-width: 500px) {
  .col-2 {
    column-count: 1;
  }
  .nav {
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .contact .inline-fields {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .contact {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding: 50px 30px;
  }
  .primary-h1 {
    margin-top: 30px;
  }
}
